.compare {
  display: grid;

  > * {
    grid-area: 1 / 1;
  }

  > section {
    display: grid;
    place-content: center;
  }

  .before {
    background: linear-gradient(to right, hotpink, rebeccapurple);
    mask: linear-gradient(to right, #000 0, var(--pos, 50%), #0000 0);
  }

  .after {
    background: linear-gradient(to right, cyan, lime);
    mask: linear-gradient(to right, #0000 0, var(--pos, 50%), #000 0);
  }

  img {
    max-inline-size: 100%;
    max-block-size: 100dvh;
  }

  > input[type='range'] {
    z-index: 1;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 4px;
      height: 100%;
      background-color: CanvasText;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 4px;
      height: 100%;
      background-color: CanvasText;
    }
  }
}
